<div class="container">
  <h1>Цвети</h1>

    <section class="question">
     <button class="drop-content" (click)="dropdownShow($event)"><h2>Информация за мен</h2></button>
     <p class="show-content">Аз съм Цвети, на 21 години от град Русе.</p>
    </section>

    <section class="question">
      <button class="drop-content" (click)="dropdownShow($event)"><h2>Хобита и интереси</h2></button>
      <p class="show-content">В свободното си време се занимавам с разнообразни дейности: рисувам, чета, разхождам се сред природата.</p>
     </section>

     <section class="question">
      <button class="drop-content" (click)="dropdownShow($event)"><h2>Любим Content Creator</h2></button>
      <p class="show-content">Един от любимите ми content creatpr - и е Мария Андреева.</p>
     </section>

     <section class="question">
      <button class="drop-content" (click)="dropdownShow($event)"><h2>Моят канал</h2></button>
      <p class="show-content">В моят канал можете да се насладите на подкастове и разговори проведени с различни дейно личности. Ако се интересувате от изкуство, кино, литература или астрология, това е вашият нов любим канал.</p>
     </section>

     <section class="question">
      <button class="drop-content" (click)="dropdownShow($event)"><h2>Цени на услуги</h2></button>
      <p class="show-content">Всичко, което виждате в моя канал, ще бъде достъпно безплатно до всички мои абонати.</p>
     </section>
</div>